framework: netstandard2.0, net471, netcoreapp3.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                       >= 4.6.2 lowest_matching: true
nuget FSharp.Data                       ~> 3.0.0

nuget FSharp.Data.Adaptive              ~> 0.0.17

nuget Aardvark.Base.TypeProviders       ~> 4.5.14
nuget Aardvark.Base                     ~> 5.0.5
nuget Aardvark.Base.Incremental         ~> 5.0.5
nuget Aardvark.Base.FSharp              ~> 5.0.5
nuget Aardvark.Base.Essentials          ~> 5.0.5

nuget Aardvark.Base.Rendering           ~> 5.0.0
nuget Aardvark.Application.WinForms.GL  ~> 5.0.0
nuget Aardvark.Application.Slim.GL      ~> 5.0.0
nuget Aardvark.SceneGraph               ~> 5.0.0
nuget Aardvark.SceneGraph.IO            ~> 5.0.0
nuget Aardvark.SceneGraph.Opc           ~> 5.0.0
nuget Aardvark.Rendering.Text           ~> 5.0.0
nuget Aardvark.Rendering.Vulkan         ~> 5.0.0
nuget Aardvark.GPGPU                    ~> 5.0.0

nuget Adaptify.Core                     ~> 0.0.33
nuget Adaptify.MSBuild                  ~> 0.0.33

nuget Aether                            ~> 8.3.1
nuget FsPickler                         ~> 5.2.2
nuget FsPickler.Json                    ~> 5.2.2

nuget TurboJpegWrapper                  ~> 1.5.2
nuget Suave                             ~> 2.5.5

nuget Aardium                            ~> 1.0.28
nuget Uncodium.Eigensystems              ~> 1.1.0
nuget Aardvark.Geometry.Intersection     ~> 5.0.0

nuget Chiron

nuget Another.Unofficial.Xilium.CefGlue                          ~> 0.2.3
nuget Another.Unofficial.Xilium.CefGlue.UnpackNativeDependencies ~> 0.2.3
nuget Another.Unofficial.Xilium.CefGlue.WindowsForms             ~> 0.2.3

group Build
    source https://api.nuget.org/v3/index.json
    github aardvark-platform/aardvark.fake:v5
