framework: netstandard2.0, net471, netcoreapp2.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                          ~> 4.3.0
nuget FSharp.Data                          ~> 3.0.0

nuget Aardvark.Base                        ~> 4.3.1
nuget Aardvark.Base.Incremental            ~> 4.3.1
nuget Aardvark.Base.FSharp                 ~> 4.3.1
nuget Aardvark.Base.Essentials             ~> 4.3.1

nuget Aardvark.Base.Rendering              ~> 4.6.1
nuget Aardvark.Application.WinForms.GL     ~> 4.6.1
nuget Aardvark.Application.Slim.GL         ~> 4.6.1
nuget Aardvark.SceneGraph                  ~> 4.6.1
nuget Aardvark.SceneGraph.IO               ~> 4.6.1
nuget Aardvark.Scenegraph.OPC              ~> 4.6.1
nuget Aardvark.Rendering.Text              ~> 4.6.1
nuget Aardvark.Rendering.Vulkan            ~> 4.6.1
nuget Aardvark.GPGPU                       ~> 4.6.1

nuget Aardvark.Compiler.DomainTypes         ~> 4.2.2
nuget Aardvark.Compiler.DomainTypes.MSBuild ~> 4.2.2

nuget Aardvark.Geometry.Intersection        ~> 4.5.1

nuget FsPickler                             ~> 5.2.0
nuget FsPickler.Json                        ~> 5.2.0

nuget TurboJpegWrapper                      ~> 1.5.2
nuget Suave                                 ~> 2.2.1

nuget Aardium                               ~> 1.0.18

nuget Chiron

nuget Another.Unofficial.Xilium.CefGlue                          ~> 0.2.2
nuget Another.Unofficial.Xilium.CefGlue.UnpackNativeDependencies ~> 0.2.2
nuget Another.Unofficial.Xilium.CefGlue.WindowsForms             ~> 0.2.2


group Build
framework: net45
content: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Formatting.CommandTool
github aardvark-platform/aardvark.fake:v4-temp