framework: netstandard2.0, net471, netcoreapp2.0
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget FSharp.Core                          ~> 4.3.0

nuget Aardvark.Base                        ~> 4.0.22
nuget Aardvark.Base.Incremental            ~> 4.0.22
nuget Aardvark.Base.FSharp                 ~> 4.0.22
nuget Aardvark.Base.Essentials             ~> 4.0.22

nuget Aardvark.Base.Rendering              ~> 4.3.18
nuget Aardvark.Application.WinForms.GL     ~> 4.3.18
nuget Aardvark.Application.Slim.GL         ~> 4.3.18
nuget Aardvark.SceneGraph                  ~> 4.3.18
nuget Aardvark.SceneGraph.IO               ~> 4.3.18
nuget Aardvark.Rendering.Text              ~> 4.3.18
nuget Aardvark.Rendering.Vulkan            ~> 4.3.18
nuget Aardvark.GPGPU                       ~> 4.3.18

nuget Aardvark.Compiler.DomainTypes         ~> 4.0.10
nuget Aardvark.Compiler.DomainTypes.MSBuild ~> 4.0.10

nuget FsPickler                             ~> 5.2.0
nuget FsPickler.Json                        ~> 5.2.0

nuget TurboJpegWrapper                      ~> 1.5.2
nuget Suave                                 ~> 2.2.1

nuget Aardium                               ~> 1.0.9

nuget Another.Unofficial.Xilium.CefGlue                          ~> 0.2.2
nuget Another.Unofficial.Xilium.CefGlue.UnpackNativeDependencies ~> 0.2.2
nuget Another.Unofficial.Xilium.CefGlue.WindowsForms             ~> 0.2.2


group Build
framework: net45
content: none
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://api.nuget.org/v3/index.json

nuget FSharp.Formatting.CommandTool
github aardvark-platform/aardvark.fake:v4-temp