
.ui.inverted.input > input {
    background: rgba(48, 49, 51, 0.85);
    color: rgba(255, 255, 255, 0.87);
}

.ui.inverted.input > input::selection {
    background: #CCE2FF;
}

.ui.inverted.input.focus > input,
.ui.inverted.input > input:focus {
    border-color: rgba(255,255,255,0.2);
    background: rgba(48, 49, 51, 0.85);
    color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.inverted.input.error > input {
    background: rgba(48, 49, 51, 0.85);
    border-color: #E0B4B4;
    color: #9F3A38;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.menu .ui.inverted.dropdown .menu > .item {
    color: rgba(255, 255, 255, 0.87) !important;
}

.ui.menu .ui.inverted.dropdown .menu > .item:hover {
    background: rgba(255, 255, 255, 0.05) !important;
    color: rgba(255, 255, 255, 0.95) !important;
}

.ui.menu .ui.inverted.dropdown .menu > .selected.item {
    background: rgba(255, 255, 255, 0.05) !important;
    color: rgba(255, 255, 255, 0.95) !important;
}

.ui.menu .ui.inverted.dropdown .menu > .active.item {
    background: rgba(255, 255, 255, 0.03) !important;
    font-weight: bold !important;
    color: rgba(255, 255,255, 0.95) !important;
}


.ui.inverted.checkbox label,
.ui.inverted.checkbox + label {
    color: rgba(255, 255, 255, 0.85);
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
}

.ui.inverted.checkbox label:hover,
.ui.inverted.checkbox + label:hover {
    color: rgba(255, 255, 255, 0.8);
}

.ui.inverted.checkbox input:focus ~ label {
    color: rgba(255, 255, 255, 0.95);
}

.ui.inverted.toggle.checkbox .box,
.ui.inverted.toggle.checkbox label {
    min-height: 1.5rem;
    padding-left: 4.5rem;
    color: rgba(255, 255, 255, 0.85);
}

.ui.inverted.toggle.checkbox .box::before,
.ui.inverted.toggle.checkbox label::before {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.ui.inverted.toggle.checkbox input:focus ~ .box:before,
.ui.inverted.toggle.checkbox input:focus ~ label:before {
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
}


.ui.inverted.toggle.checkbox .box:hover::before,
.ui.inverted.toggle.checkbox label:hover::before {
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
}


.ui.inverted.toggle.checkbox input:checked ~ .box,
.ui.inverted.toggle.checkbox input:checked ~ label {
    color: rgba(255, 255, 255, 0.95) !important;
}

.ui.inverted.toggle.checkbox input:focus:checked ~ .box,
.ui.inverted.toggle.checkbox input:focus:checked ~ label {
    color: rgba(255, 255, 255, 0.95) !important;
}


.ui.inverted.dropdown .menu {
    background: rgba(48, 49, 51, 0.85);
    color: rgba(255, 255, 255, 0.87);
}



.ui.inverted.dropdown .menu > .item {
    color: rgba(255, 255, 255, 0.87);
}


.ui.inverted.selection.dropdown {
    background: rgba(48, 49, 51, 0.85);
    color: rgba(255, 255, 255, 0.87);
}


.ui.inverted.selection.dropdown .menu > .item {
    border-top: 1px solid rgba(255,255,255,0.4);
    padding: 0.78571429rem 1.14285714rem !important;
    white-space: normal;
    word-wrap: normal;
}


.ui.inverted.selection.active.dropdown {
    border-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
    box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}

.ui.inverted.selection.active.dropdown .menu {
    border-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
    box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}

.ui.inverted.selection.dropdown:focus {
    border-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.selection.dropdown:focus .menu {
    border-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
    box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}

.ui.inverted.selection.visible.dropdown > .text:not(.default) {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
}

.ui.inverted.selection.active.dropdown:hover {
    border-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
    box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}

.ui.inverted.selection.active.dropdown:hover .menu {
    border-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
    box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
}

.ui.inverted.dropdown .menu .active.item {
    background: transparent;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 12;
}


.ui.inverted.dropdown .menu > .item:hover {
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.95);
    z-index: 13;
}
