
/*.ui.inverted.input > input {
    background: rgba(48, 49, 51, 0.85) !important;
    color: rgba(255, 255, 255, 0.87) !important;
    width: min-content;
}*/

.ui.labeled.icon.menu {
    background: transparent;
    border: transparent;
    box-shadow: none
}


.menutrigger {
    z-index: 1000;
    position: fixed;
    left: 48%;
    margin: 1%;
}

line#limit {
    stroke: #b3697a;
    stroke-width: 5;
    /*stroke-dasharray: 3 6;*/
}

.ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 0.14285714em;
    background-color: #1b1c1d;
    background-image: none;
    padding: 0.5833em 0.833em;
    color: rgba(255, 255, 255, 0.9);
    text-transform: none;
    font-weight: normal;
    border: 0 solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
}