type project
id Aardvark.Service
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-platform
licenseUrl http://www.apache.org/licenses/LICENSE-2.0.txt
repositoryUrl https://github.com/aardvark-platform/aardvark.media
description
    Aardvark is an open-source platform for visual computing, real-time graphics and visualization.
excludeddependencies
    Adaptify.MSBuild
