
/* RenderControl styles */
img.rendercontrol:focus { 
    outline: none; 
}

img.rendercontrol {
    opacity: 0;
    user-select: none;
    background-color: black;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
}
canvas.rendercontrol:focus {
    outline: none;
}
canvas.rendercontrol {
    opacity: 0;
    user-select: none;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) scaleY(-1);
    pointer-events: none;
}

div.aardvark:focus { 
    outline: none; 
} 

div.aardvark { 
    display: block;
    user-select: none;
    overflow: hidden;
    background-color: black;
    position:relative;
    
   
}

span.fps {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: larger;
    font-weight: bolder;
    color: white;
    opacity: 0;
}

/* Loading-Screen */
div.loaderOld {
    position:absolute;

    background-image: 
        url('./aardvark.svg'),
        linear-gradient(45deg, #808080 25%, transparent 25%), 
        linear-gradient(-45deg, #808080 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, #808080 75%), 
        linear-gradient(-45deg, transparent 75%, #808080 75%);
     
    background-size: 
        300px,
        40px 40px,
        40px 40px,
        40px 40px,
        40px 40px;

    background-position: 
        center center,
        0 0, 
        0 20px, 
        20px -20px, 
        -20px 0px;

    background-repeat: 
        no-repeat,
        repeat,
        repeat,
        repeat,
        repeat;

    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

div.loader {
    position:absolute;

    background-color: black;

    background-image: 
        url('./aardvark-light.svg');
     
    background-size: 
        300px;

    background-position: 
        center center;

    background-repeat: 
        no-repeat;

    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.fountainG {
    position: absolute;
    top: 0;
    background-color: rgb(115,115,115);
    width: 28px;
    height: 28px;
    animation-name: bounce_fountainG;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform: scale(.5);
    border-radius: 19px;
    z-index: 1;
}

.fountainG_0 {
    position: absolute;
    width: 234px;
    height: 28px;
    margin-left: -117px;
    margin-top: 100px;
    left: 50%;
    top: 50%;
    z-index: 1;
}
.fountainG.fountainG_1 {
    left: 0;
    animation-delay: 0.6s;
    z-index: 1;
}

.fountainG.fountainG_2 {
    left: 29px;
    animation-delay: 0.75s;
    z-index: 1;
}

.fountainG.fountainG_3 {
    left: 58px;
    animation-delay: 0.9s;
    z-index: 1;
}

.fountainG.fountainG_4 {
    left: 88px;
    animation-delay: 1.05s;
    z-index: 1;
}

.fountainG.fountainG_5 {
    left: 117px;
    animation-delay: 1.2s;
    z-index: 1;
}

.fountainG.fountainG_6 {
    left: 146px;
    animation-delay: 1.35s;
    z-index: 1;
}

.fountainG.fountainG_7 {
    left: 175px;
    animation-delay: 1.5s;
    z-index: 1;
}

.fountainG.fountainG_8 {
    left: 205px;
    animation-delay: 1.64s;
    z-index: 1;
}



@keyframes bounce_fountainG{
	0%{
	    transform:scale(1);
		background-color:rgb(115,115,115);
	}

	100%{
	    transform:scale(.5);
		background-color:rgb(255,255,255);
	}
}




/* Menu-Button (fixed location atm.) */
.fixed.launch.button.menubutton .text {
  position: absolute;
  white-space: nowrap;
  top: auto;
  left: 54px;
  opacity: 0;
  transition: 0.3s opacity 0.3s;
}

.fixed.launch.button.menubutton:hover .text {
  opacity: 1;
}

.fixed.launch.button.menubutton {
    display: block;
    position: fixed; 
    top: 2.5em; 
    left: 0px; 
    width: 55px; 
    height: auto; 
    white-space: nowrap; 
    overflow: hidden;
    transition: 0.3s width ease; 
    text-align: left;
    padding-left: .75em;
    border-radius: 0 .28571429rem .28571429rem 0;
}

.fixed.launch.button.menubutton .icon {
    margin-left: 0px;
}

.fixed.launch.button.menubutton:hover {
    width: 130px;
}