.ui.segment {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

div.title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

select {
    color: black
}