.treeview .hovered.item:not(.selected) {
    background-color: rgba(255,255,255,0.15);
    font-weight: normal;
}

.treeview .highlighted.item:not(.selected) {
    background-color: rgba(255,255,255,0.05);
    font-weight: normal;
}

.treeview .selected.item {
    background-color: rgba(255,255,255,0.20);
    font-weight: bold;
}

.treeview .item span {
    user-select: none;
}