.treeview .hovered.item:not(.selected) {
    background-color: rgba(255.0,255.0,255.0,0.10);
    font-weight: normal;
}

.treeview .selected.item:not(.hovered) {
    background-color: rgba(255.0,255.0,255.0,0.20);
    font-weight: bold;
}

.treeview .hovered.selected.item {
    background-color: rgba(255.0,255.0,255.0,0.15);
    font-weight: bold;
}

.treeview .parent.item {
    background-color: rgb(33, 96, 15);
    font-weight: bold;
}

.treeview .item span {
    user-select: none;
}