type project
id Aardvark.UI.Screenshotr
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-community
licenseUrl http://www.apache.org/licenses/LICENSE-2.0.txt
repositoryType git
repositoryUrl http://github.com/aardvark-community/ScreenshotrExample
description
    Aardvark is an open-source platform for visual computing, real-time graphics and visualization.
include-pdbs true