/* For some reason the hacky dropdown icon is misaligned in Aardvark, even in a normal browser... */
.lm_header .lm_controls .lm_tabdropdown {
    display: flex;
    align-items: end;
    justify-content: center;
}

.lm_header .lm_controls .lm_tabdropdown:before {
    border-bottom: 5px solid transparent;
}

/* Prevent iframe elements from consuming pointer events while clicking on a drag listener */
.lm_pointer_tracking iframe.gl-aard-component {
    pointer-events: none;
}